:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #242424;
  color: #fff;
}
a {
  color: #fff;
  text-decoration: none;
}
ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 20px;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}